// COLORS
$color-background-dark: #777777;

$color-primary: #55c57a;
$color-primary-light: #fff;
$color-primary-dark: #000;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-error-normal:#d8000c;
$color-error-light: #ffcccc; 